# Resend Configuration
RESEND_API_KEY=re_cJkig2tP_BSzBcoJ5ZNAw6dLjpRqaYc3k
RESEND_FROM=Zuryo <noreply@zuryo.co>

# Firebase Admin Configuration (Required for server-side reset links)
# This should be the stringified JSON of your service account key file
FIREBASE_SERVICE_ACCOUNT=
